body {
   font-family: 'Roboto', sans-serif;
   color: #333;
}

img {
   max-width: 100%;
   height: auto;
}


/* see vid 22 ~12:00 */
* { /* the asteric selects everything on page */
   box-sizing: border-box; /* padding or border not added to calculated width - so width is still [as defined below] 33.33% + 66.66% and less than 100% */
}
